<!-- Former footer (Big) -->
<footer class="footer footer-black footer-big" th:fragment="footer">
    <div class="container">
        <div class="content">
            <div class="row">

                <div class="col-md-4">
                    <img src="assets/img/gab.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 200px;">
                </div>

                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>

                <div class="col-md-4">
                    <h5>Social Feed</h5>
                    <div class="social-feed">
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>How to handle ethical disagreements with your clients.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-youtube-play"></i>
                            <p>The tangible benefits of designing at 1x pixel density.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-facebook-square"></i>
                            <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <hr/>

        <ul class="pull-left">
            <li>
                <a href="https://gab.gov.ph/">
                    Official Site
                </a>
            </li>
        </ul>

        <div class="copyright pull-right">
            Copyright &copy; 2021 Telcom Live Content Inc. All rights reserved.
        </div>
    </div>
</footer>