<footer class="footer footer-black" th:fragment="footer" style="position:relative;bottom:0;">
    <div class="container">
        <ul class="pull-left">
            <li>
                <a href="#pablo">
                    Blog
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Presentation
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Discover
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Payment
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Contact Us
                </a>
            </li>
        </ul>

        <div class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script>, Telcom Live Content Inc. All rights reserved.
        </div>

    </div>
</footer>