<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">

<div layout:fragment="content">
    <div class="section section-gray" style="padding-bottom:0 !important;margin-bottom:0 !important">
        <div class="container">
            <form method="POST" action="" id="LICENSE_APPLICATION_FORM"
                  th:object="${application}" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">License Application Form</h2>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="radio">
                                    <label onclick="newLicense()">
                                        <input type="radio" name="APPLICATION_TYPE" checked="true">
                                        New
                                    </label>
                                    <label onclick="renewLicense()">
                                        <input type="radio" name="APPLICATION_TYPE">
                                        Use Previous Details
                                    </label>
                                    <input type="hidden" name="vAPPLICATION_TYPE"  id="vAPPLICATION_TYPE" value="L">
                                </div>
                                <div class="row" id="licenseField" style="display:none">
                                    <form>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label-control">License Number</label>
                                                <span>
                                                <input type="text" id="LICENSE_NUMBER" name="LICENSE_NUMBER"
                                                       class="form-control" th:field="*{vLICENSE_NUMBER}"
                                                />
                                            </span>
                                                <span>
                                                    <a href="#" class="btn btn-default" id="SEARCH">SEARCH</a>
                                            </span>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">
                                    Applicant Information
                                </h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-control">Division<small style="color:red;">*</small></label>
                                            <select class="selectpicker label" data-style="btn btn-primary btn-round"
                                                    title="Single Select" data-size="7"
                                                    id="DIVISIONS" name="DIVISIONS">
                                                <option value="PBOPG">Pro-Basketball & Other Pro-Games Division</option>
                                                <option value="BOCSD">Boxing and Other Contact Sports Division</option>
                                                <option value="HRBSD">Horse Racing Betting Supervision Division</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="label-control">Sport<small style="color:red;">*</small></label>
                                            <select class="selectpicker label" id="sports"
                                                    data-style="btn btn-primary btn-round"
                                                    title="Choose Sport" data-size="7" disabled="true"
                                                    th:field="*{vSPORTS}">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="label-control">Applying license for<small style="color:red;">*</small></label>
                                            <select class="selectpicker label" id="roles"
                                                    data-style="btn btn-primary btn-round"
                                                    title="Choose Role" data-size="7" disabled="true"
                                                    th:field="*{vROLES}">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                        <input type="hidden" name="vSAVE_AS_DRAFT" id="vSAVE_AS_DRAFT" th:field="*{vSAVE_AS_DRAFT}">
                                            <label class="label-control">Last Name<small style="color:red;">*</small></label>
                                            <input type="text" id="LAST_NAME" name="LAST_NAME" class="form-control"
                                                   th:field="*{vLAST_NAME}"
                                                   />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="label-control">First Name<small style="color:red;">*</small></label>
                                            <input type="text" id="FIRST_NAME" name="FIRST_NAME" class="form-control"
                                                   th:field="*{vFIRST_NAME}"
                                                   />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="label-control">Middle Name</label>
                                            <input type="text" id="MIDDLE_NAME" name="MIDDLE_NAME" class="form-control"
                                                   th:field="*{vMIDDLE_NAME}"
                                                   />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="label-control">Nickname/Alias</label>
                                            <input type="text" id="NICK_NAME" name="NICK_NAME" class="form-control"
                                                   th:field="*{vNICK_NAME}"
                                                   />
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <label class="label-control">Home Address<small style="color:red;">*</small></label>
                                                <input type="text" id="HOME_ADDRESS" name="HOME_ADDRESS"
                                                       class="form-control" th:field="*{vHOME_ADDRESS}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="label-control">Contact No.</label>
                                                <input type="text" id="HOME_CONTACT" name="HOME_CONTACT"
                                                       class="form-control" th:field="*{vTELEPHONE_HOME}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <label class="label-control">Office Address</label>
                                                <input type="text" id="OFFICE_ADDRESS" name="OFFICE_ADDRESS"
                                                       class="form-control" th:field="*{vOFFICE_ADDRESS}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="label-control">Contact No.</label>
                                                <input type="text" id="OFFICE_CONTACT" name="OFFICE_CONTACT"
                                                       class="form-control" th:field="*{vTELEPHONE_OFFICE}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="label-control">Date of Birth<small style="color:red;">*</small></label>
                                                <input type="text" class="form-control datepicker" name="BIRTH_DATE"
                                                       id="BIRTH_DATE" th:field="*{vBIRTH_DATE}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="label-control">Place of Birth</label>
                                                <input type="text" id="PLACE_OF_BIRTH" name="PLACE_OF_BIRTH"
                                                       class="form-control" th:field="*{vBIRTH_PLACE}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="label-control">Age</label>
                                                <input type="number" id="AGE" name="AGE" class="form-control"
                                                       th:field="*{vAGE}" readonly
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="label-control">Gender<small style="color:red;">*</small></label>
                                                <input type="text" id="GENDER" name="GENDER" class="form-control"
                                                       th:field="*{vGENDER}"
                                                       />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-raised">
                                           <img src="/PublicAccessPortal/assets/img/image_placeholder.jpg" id="AVATAR" alt="...">
                                               <!-- <img th:src="${'/PublicAccessPortal'+avatar}" alt="...">-->
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                            <div>
                                                <span class="btn btn-raised btn-round btn-default btn-file">
                                                    <span class="fileinput-new">Select image</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg"/>
                                                </span>
                                                <a href="#" id="REMOVE" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label class="label-control">Citizenship<small style="color:red;">*</small></label>
                                                    <input type="text" id="CITIZENSHIP" name="CITIZENSHIP"
                                                           class="form-control" th:field="*{vCITIZENSHIP}"
                                                           />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="label-control">Civil Status</label>
                                                <input type="text" id="CIVIL_STATUS" name="CIVIL_STATUS"
                                                       class="form-control" th:field="*{vCIVILSTATUS}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="label-control">Height</label>
                                                <input type="text" id="HEIGHT" name="HEIGHT" class="form-control"
                                                       placeholder="ex. 5'3ft, 2.5 m" th:field="*{vHEIGHT}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="label-control">Weight</label>
                                                <input type="text" id="WEIGHT" name="WEIGHT" class="form-control"
                                                       placeholder="ex. 45 kl, 70 lbs" th:field="*{vWEIGHT}"
                                                       />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="label-control">Club/Organization<small style="color:red;">*</small></label>
                                                <input type="text" id="CLUB" name="CLUB"
                                                       class="form-control" th:field="*{vCLUB}"

                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">
                                    Additional Information
                                </h4>
                                <!--BOCSD additional fields---->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group checkbox BOCSD" style="display:none;">
                                            <div class="col-md-6">
                                                <label class="label-control">Educational Background</label>
                                                <select class="selectpicker" data-style="select-with-transition" title="Select" data-size="7"
                                                        id="EDUC_BACKGROUND" th:field="*{vEDUCATION_BACKGROUND}">
                                                    <!--                                                <select class="selectpicker" data-style="btn btn-primary btn-round"-->
                                                    <!--                                                        title="Select" data-size="7" id="EDUC_BACKGROUND"-->
                                                    <!--                                                        th:field="*{vEDUCATION_BACKGROUND}">-->
                                                    <option th:value="''"disabled>Choose</option>
                                                    <option th:value="'ELEMENTARY'">Elementary Level</option>
                                                    <option th:value="'HIGHSCHOOL'">High School Level</option>
                                                    <option th:value="'COLLEGE'">College School Level</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group checkbox BOCSD" style="display:none;">
                                                <label>
                                                    <input type="checkbox" name="CONTRACT" id="CONTRACT">
                                                    Are you currently under any management or managerial contract
                                                </label>
                                                <div style="display: none;" id="CONTRACT_DIV">
                                                    <div class="form-group form-file-upload">
                                                        <input type="file" id="contractUpload" name="contractUpload" accept="image/png, image/jpeg, image/jpg"/>
                                                        <div class="input-group">
                                                            <input type="text" readonly="" class="form-control"
                                                                   placeholder="Attach File">
                                                            <span class="input-group-btn input-group-s">
										            <button type="button"
                                                            class="btn btn-just-icon btn-round btn-primary">
										        	    <i class="material-icons">attach_file</i>
									        	    </button>
                                                                <input type="hidden" id="PROMOTION_CONTRACT" name="PROMOTION_CONTRACT" th:field="*{vPROMOTION_CONTRACT}">
								            	    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group checkbox BOCSD" style="display:none;">
                                                <label>
                                                    <input type="checkbox" name="DENIED" id="DENIED">
                                                    Have you been denied by a License GAB
                                                </label>
                                                <input type="hidden" id="GAB_DENIED" name="GAB_DENIED" th:field="*{vGAB_DENIED}">
                                            </div>
                                        </div>
                                    </div>
                                    <!--- PBOPG and HRBSD additional fields--->
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">
                                            <div class="form-group checkbox">
                                                <label>
                                                    <input type="checkbox" name="c" id="ACCUSED_CRIME"
                                                           onclick="withCrime()">
                                                    Have you been accused or convicted of any crime? (if yes, state the
                                                    nature of offense)
                                                </label>
                                                <input type="text" id="STATE_OFFENSE" name="STATE_OFFENSE"
                                                       class="form-control" th:field="*{vSTATE_OFFENSE}"
                                                       style="display:none"
                                                       />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="documentaryDiv" style="display:none;">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">
                                    List of Requirements
                                </h4>
                                <div id="documentary-requirements">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="medicalDiv" style="display:none;">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">
                                    List of Medical Requirements
                                </h4>
                                <div id="medical-requirements">

                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- Signature upload--->
                    <div class="modal fade" id="signatureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-small ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                                        <h4>Signature</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput" id="uploadSignature">
                                        <div class="fileinput-new thumbnail img-raised">
                                            <img src="/PublicAccessPortal/assets/img/image_placeholder.jpg" alt="..." id="previewImage">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                        <div>
									    <span class="btn btn-raised btn-round btn-default btn-file">
										<span class="fileinput-new">Select image</span>
										<span class="fileinput-exists">Change</span>
										<input type="file" name="signature" id="signature" accept="image/png, image/jpeg, image/jpg"/>
									    </span>
                                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                        </div>
                                    </div>
                                    <div class="row"  id="drawSignature" style="display: none;width: 100%; height:100%">
                                        <div class="col-md-12">
                                            <canvas id="sig-canvas" width="230" height="200" style="border: 2px dotted #CCCCCC;border-radius: 15px;cursor: crosshair;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer text-center">
                                    <a href="#" class="btn btn-default" id="sig-clearBtn" style="display: none;">Clear</a>
                                    <button type="button" class="btn btn-default" id="drawButton">Draw</button>
                                  <button type="button" class="btn btn-default" id="uploadButton" style="display: none;">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-6">
                        <a class="btn btn-finish btn-fill btn-default btn-wd" data-toggle="modal" data-target="#signatureModal">
                            Signature
                        </a>
                        <button type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish'
                                id="SUBMIT_APPLICATION">
                            Submit
                        </button>

                        <button type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish'
                                id="SAVE_APPLICATION">
                            Save as Draft
                        </button>
                        <a class="btn btn-default" href="/PublicAccessPortal/applications">Cancel</a>

                    </div>
                </div>
            </form>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</html>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="/PublicAccessPortal/assets/js/wizard/jquery.validate.min.js"></script>

<script src="/PublicAccessPortal/assets/js/personalize/license-application.js"></script>

<script src="/PublicAccessPortal/assets/js/personalize/license.js"></script>
