<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<div layout:fragment="content">
    <div class="page-header header-filter header-small" data-parallax="true"
         style="background-image: url('../assets/img/bg9.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" align="center">
                    <h2 class="title">Permit</h2>
                    <!--                    <h4>Meet the amazing team behind this project and find out more about how we work.</h4>-->
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised ">
        <div class="container" style="padding-top:20px;">
            <a class="btn btn-default" href="permits/new-permit">
                <i class="material-icons">add</i> New Permit
                <div class="ripple-container"></div>
            </a>
            <div>
                <table id="datatable" class="table" style="width:100%">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Applicant Name</th>
                        <th>Permit Type</th>
                        <th>Application Type</th>
                        <th>Date Applied</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>New</td>
                        <td>John Doe</td>
                        <td>Pro-Basketball & Other Pro-Games Division (PBOPG)</td>
                        <td>Renewal</td>
                        <td>2011/04/25</td>
                        <td>
                            <div class="dropdown">
                                <button href="#pablo" class="dropdown-toggle btn btn-default"
                                        data-toggle="dropdown" aria-expanded="false"><i class="material-icons">settings</i> <b class="caret"></b>
                                    <div class="ripple-container"></div>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#pablo">Edit</a></li>
                                    <li><a href="#pablo">Verify</a></li>
                                    <li><a href="#pablo">Prepare Bill</a></li>
                                    <li><a href="#pablo">Medical</a></li>
                                    <li><a href="#pablo">Release OR</a></li>
                                    <li><a href="#pablo">Payment</a></li>
                                    <li><a href="#pablo">Print License</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>New</td>
                        <td>John Doe</td>
                        <td>Pro-Basketball & Other Pro-Games Division (PBOPG)</td>
                        <td>Renewal</td>
                        <td>2011/04/25</td>
                        <td>
                            <div class="dropdown">
                                <button href="#pablo" class="dropdown-toggle btn btn-default"
                                        data-toggle="dropdown" aria-expanded="false"><i class="material-icons">settings</i> <b class="caret"></b>
                                    <div class="ripple-container"></div>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#pablo">Edit</a></li>
                                    <li><a href="#pablo">Verify</a></li>
                                    <li><a href="#pablo">Prepare Bill</a></li>
                                    <li><a href="#pablo">Medical</a></li>
                                    <li><a href="#pablo">Release OR</a></li>
                                    <li><a href="#pablo">Payment</a></li>
                                    <li><a href="#pablo">Print License</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>New</td>
                        <td>John Doe</td>
                        <td>Pro-Basketball & Other Pro-Games Division (PBOPG)</td>
                        <td>Renewal</td>
                        <td>2011/04/25</td>
                        <td>
                            <div class="dropdown">
                                <button href="#pablo" class="dropdown-toggle btn btn-default"
                                        data-toggle="dropdown" aria-expanded="false"><i class="material-icons">settings</i> <b class="caret"></b>
                                    <div class="ripple-container"></div>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#pablo">Edit</a></li>
                                    <li><a href="#pablo">Verify</a></li>
                                    <li><a href="#pablo">Prepare Bill</a></li>
                                    <li><a href="#pablo">Medical</a></li>
                                    <li><a href="#pablo">Release OR</a></li>
                                    <li><a href="#pablo">Payment</a></li>
                                    <li><a href="#pablo">Print License</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>New</td>
                        <td>John Doe</td>
                        <td>Pro-Basketball & Other Pro-Games Division (PBOPG)</td>
                        <td>Renewal</td>
                        <td>2011/04/25</td>
                        <td>
                            <div class="dropdown">
                                <button href="#pablo" class="dropdown-toggle btn btn-default"
                                        data-toggle="dropdown" aria-expanded="false"><i class="material-icons">settings</i> <b class="caret"></b>
                                    <div class="ripple-container"></div>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#pablo">Edit</a></li>
                                    <li><a href="#pablo">Verify</a></li>
                                    <li><a href="#pablo">Prepare Bill</a></li>
                                    <li><a href="#pablo">Medical</a></li>
                                    <li><a href="#pablo">Release OR</a></li>
                                    <li><a href="#pablo">Payment</a></li>
                                    <li><a href="#pablo">Print License</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>Status</td>
                        <td>Applicant Name</td>
                        <td>License Type</td>
                        <td>Application Type</td>
                        <td>Date Applied</td>
                        <td>Action</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <br>
        </div>
    </div>
    <div class="section-space"></div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</html>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
     $().ready(function(){
        $('#datatable').DataTable({
            "order": []
        });
     });

</script>
