<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <title>GAB</title>
</head>
<body>
  <div class="container">
      <div>
        <table>
          <thead>
            <th></th>
            <th><h2>GAME AND AMUSEMENT BOARD</h2></th>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </div>
  </div>
</body>
<script src="/PublicAccessPortal/assets/js/personalize/print-applications.js"></script>
</html>