<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<div layout:fragment="content">
  <div class="page-header header-filter header-small" data-parallax="true"
       style="background-image: url('/PublicAccessPortal/assets/img/bg9.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" align="center">
          <h2 class="title">Web Users</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised ">
    <div class="container" style="padding-top:20px;">
      <a class="btn btn-default" th:href="@{/new-web-user}">
        <i class="material-icons">add</i> Web User
        <div class="ripple-container"></div>
      </a>
<!--      <a class="btn btn-default" href="/user-level-assign">
        <i class="material-icons">add</i> User-assign
        <div class="ripple-container"></div>
      </a>-->
      <div>
        <table id="datatable" class="table" style="width:100%">
          <thead>
          <tr>
            <th>Username</th>
            <th>User Role</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody id="USER_LEVEL_LIST">

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="updateUserLevel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="" id="USER_LEVEL_FORM" th:object="${user}" enctype="multipart/form-data">
            <input type="hidden" class="form-control" name="id" id="id" />
            <div class="col-md-12 text-center">
              <h2 class="title">Web User Form</h2>
              <br>
            </div>
            <div class="container" style="width: 100%;">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-content">
                      <div class="col-lg-4">
                        <h4><small>Avatar</small></h4>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                          <div class="fileinput-new thumbnail img-raised">
                            <img src="/PublicAccessPortal/assets/img/placeholder.jpg" alt="..." id="image">
                          </div>
                          <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                          <div>
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="image"
                                       accept="image/png, image/jpeg, image/jpg"/>
                            </span>
                            <a href="#" class="btn btn-danger btn-round fileinput-exists"
                               data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" id="USERNAME" class="form-control"
                                   th:field="*{username}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" id="EMAIL" class="form-control"
                                   th:field="*{email}">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>User Role</label>
                            <div style="margin-top: -6px !important;">
                              <select class="selectpicker" data-style="select-with-transition"
                                      title="Select Role" data-size="7"
                                      id="ROLE" name="role" th:field="*{roles}">
                                  <span th:each="userRoles : ${userRoles}">
                                     <option th:value="${userRoles.roleId}" th:text="${userRoles.roleName}"></option>
                                  </span>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Status</label>
                              <select class="selectpicker" data-style="select-with-transition"
                                      title="Select" data-size="7"
                                      id="STATUS" name="STATUS">
                                <option value="0">Activate</option>
                                <option value="1">Deactivate</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <!--<label>Password</label>-->
                            <input type="hidden" name="password" id="PASSWORD" class="form-control"
                                   th:field="*{password}">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <!--<label>Confirm Password</label>-->
                            <input type="hidden" name="confirm_password" id="CONFIRM_PASSWORD"
                                   class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish'
                  id="SUBMIT_APPLICATION">
            Save
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        </form>
      </div>
    </div>
  </div>


<!--  <div class="section-space"></div>-->
  <div th:replace="fragments/footer :: footer"></div>
</div>
</html>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="/PublicAccessPortal/assets/js/personalize/user-level.js"></script>